@import 'tailwindcss/preflight';
@import 'tailwindcss/components';

@import 'components/waving';

@import 'tailwindcss/utilities';

body {
  background-image: linear-gradient(169.88deg, #2A2C5B -102.05%, #F74B84 1227.07%);
  background-repeat: no-repeat;
  background-size: cover;
}
