@import 'tailwindcss/preflight';
@import 'tailwindcss/components';

@import 'components/waving';
@import 'components/code';

@import 'tailwindcss/utilities';

body {
  background-image: linear-gradient(
    169.88deg,
    #2a2c5b -102.05%,
    #f74b84 1227.07%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
