@import 'tailwindcss/preflight';

@import 'colors';

@import 'tailwindcss/components';

@import 'components/waving';
@import 'components/code';

@import 'tailwindcss/utilities';

body {
  background: linear-gradient(180deg, #2F096D 0%, var(--bg-screen) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
